/** Montserrat Font **/
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("ttf");
}

/** Poppins Font **/
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0 font-montserrat font-light tracking-wide scroll-smooth transition-all focus-visible:outline-none focus:outline-none;
  }

  body {
    @apply bg-body duration-300;
  }

  /* PARAGRAPH */
  p {
    @apply mb-[10px] max-md:text-sm max-sm:text-xs text-color-text;
  }

  /* SCROLLBAR */
  ::-webkit-scrollbar {
    @apply w-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-scroll-track;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-scroll-thumb rounded-lg cursor-pointer hover:bg-scroll-thumb-h;
  }

  /* MODAL */
  .modal__overlay--hidden {
    @apply overflow-hidden w-[calc(100%-6px)];
  }

  :root {
    --bs-primary: 59 130 246;
    --bs-secondary: 107 114 128;
    --bs-success: 34 197 94;
    --bs-warning: 234 179 8;
    --bs-danger: 239 68 68;
    --bs-info: 8 145 178;
  }

  [data-theme="light"] {
    --scroll-track: 243 244 246;
    --scroll-thumb: 212 212 212;
    --scroll-thumb-hover: 163 163 163;
    --color-primary: 17 29 74;
    --color-secondary: 255 207 153;
    --color-text: 51 51 51;
    --color-reverse: 245 245 245;
    --color-heading: 15 55 85;
    --color-background: 255 248 240;
  }

  [data-theme="dark"] {
    --scroll-track: 107 114 128;
    --scroll-thumb: 55 65 81;
    --scroll-thumb-hover: 31 41 55;
    --color-primary: 146 20 12;
    --color-secondary: 255 248 240;
    --color-text: 245 245 245;
    --color-reverse: 51 51 51;
    --color-heading: 245 245 245;
    --color-background: 30 30 36;
  }
}
